<div style="display: flex;">
  <igx-list style="flex: 0 0 200px;" (itemClicked)="onItemClicked($event)">
    <div style="position: relative; height: 480px; overflow: hidden;">
      <igx-list-item [class.selected]="isSelected(item)" [index]="i"
                      *igxFor="let item of data$ | async; index as i;  scrollOrientation : 'vertical'; containerSize: '480px'; itemSize: '48px'">
        <div style="width: 100%; height: 48px; display: flex; align-items: center;">
          <span style="flex: 0 0 50px;">{{ item['連番'] }}</span>
          <span style="flex: 1 1 auto;">{{ item['姓'] }} {{ item['名'] }}</span>
        </div>
      </igx-list-item>
    </div>
  </igx-list>

  <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit($event)">
    <div class="form-row">
      <igx-input-group type="border" class="form-row__control">
        <igx-prefix>
          <igx-icon>person</igx-icon>
        </igx-prefix>
        <label igxLabel>姓</label>
        <input type="text" igxInput formControlName="lastName">
        <igx-hint>例: 山田</igx-hint>
        <igx-suffix>
          <igx-icon *ngIf="isFilled('lastName')" (click)="clear('lastName')">cancel</igx-icon>
        </igx-suffix>
      </igx-input-group>
      <igx-input-group type="border" class="form-row__control">
        <label igxLabel>名</label>
        <input type="text" igxInput formControlName="firstName">
        <igx-hint>例: 太郎</igx-hint>
        <igx-suffix>
          <igx-icon *ngIf="isFilled('firstName')" (click)="clear('firstName')">cancel</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
    <div class="form-row">
      <igx-date-picker type="border" locale="ja-JP" required [inputFormat]="'yyyy/MM/dd'" [displayFormat]="'yyyy/M/d'" formControlName="birthday"
        class="form-row__control">
        <label igxLabel>生年月日</label>
        <igx-picker-toggle igxPrefix>
          <igx-icon>cake</igx-icon>
        </igx-picker-toggle>
        <igx-hint>例: 2019/01/01</igx-hint>
        <igx-picker-toggle igxSuffix>
          <igx-icon>today</igx-icon>
        </igx-picker-toggle>
      </igx-date-picker>
    </div>
    <div class="form-row form-row--nowrap">
      <igx-input-group #zip type="border" class="form-row__control">
        <igx-prefix>
          <igx-icon>location_on</igx-icon>
        </igx-prefix>
        <label igxLabel>郵便番号</label>
        <input #zipcode type="text" pattern="^\d{3}-\d{4}$" igxInput formControlName="zipcode">
        <igx-hint>例: 123-4567</igx-hint>
        <igx-suffix>
          <igx-icon *ngIf="isFilled('zipcode')" (click)="clear('zipcode')">cancel</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
    <div class="form-row">
      <igx-input-group type="border" class="form-row-stretch">
        <igx-prefix>
          <igx-icon>home</igx-icon>
        </igx-prefix>
        <label igxLabel>住所</label>
        <input type="text" igxInput formControlName="address">
        <igx-hint>例: 東京都渋谷区渋谷◯◯1-2-3△△マンション456号室</igx-hint>
        <igx-suffix>
          <igx-icon *ngIf="isFilled('address')" (click)="clear('address')">cancel</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
    <div class="form-row">
      <igx-input-group type="border" class="form-row__control">
        <igx-prefix>
          <igx-icon>phone</igx-icon>
        </igx-prefix>
        <label igxLabel>携帯電話</label>
        <input type="tel" pattern="^(070|080|090)-\d{4}-\d{4}$" igxInput formControlName="phone">
        <igx-hint>例: 090-1234-5678</igx-hint>
        <igx-suffix>
          <igx-icon *ngIf="isFilled('phone')" (click)="clear('phone')">cancel</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
    <div class="form-row">
      <igx-input-group type="border" class="form-row__control">
        <igx-prefix>
          <igx-icon>email</igx-icon>
        </igx-prefix>
        <label igxLabel>Email</label>
        <input type="email" pattern="^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" igxInput formControlName="email">
        <igx-hint>例: taro-yamada@example.com</igx-hint>
        <igx-suffix>
          <igx-icon *ngIf="isFilled('email')" (click)="clear('email')">cancel</igx-icon>
        </igx-suffix>
      </igx-input-group>
    </div>
    <div class="form-row form-row--right">
      <button type="submit" igxButton="raised" [disabled]="form.invalid || !isItemSelected()" f>
        更新
      </button>
    </div>
  </form>
</div>

<igx-snackbar #snackbar [displayTime]="1000">
  更新しました
</igx-snackbar>
